{% extends 'base.html' %}
{% load static %}

{% block content %}
	{% for item in item_to_run %}
		<div class="task-inform">
			<div class="need_hours" style="display: none;">{{ item.need_hours }}</div>
			<div class="task-title">Task - {{ item.title }}</div>
			<div class="task-commets">Comments - {{ item.comments }}</div>
		</div>
	{% endfor %}

	<h1 class="countdown-title">Deadline.</h1>
<div id="countdown" class="countdown">
  <div class="countdown-number">
    <span class="hours countdown-time"></span>
    <span class="countdown-text">Hours</span>
  </div>
  <div class="countdown-number">
    <span class="minutes countdown-time"></span>
    <span class="countdown-text">Minutes</span>
  </div>
  <div class="countdown-number">
    <span class="seconds countdown-time"></span>
    <span class="countdown-text">Seconds</span>
  </div>
</div>


{% block javacript %}<script src="{% static 'js/run.js' %}"></script>{% endblock %}


{% endblock %}